<div class="main-container">
  <form (submit)="onSubmit($event)" class="login-form">
    <!-- <h2 [ngClass]="{ 'active-class': isActive() }">Signal Login Form</h2> -->
    <!-- <h2 [class.active-class]="isActive()">Signal Login Form</h2> -->

    <!-- <h2 [ngStyle]="{'display' : isVisible() ? 'block' : 'none'}">Signal Login Form</h2> -->
    <!-- <h2 [style.display]="isVisible() ? 'block' : 'none'">Signal Login Form</h2> -->

    <h2 [style]="headingStyles()">Signal Login Form</h2>

    <div class="mb-4">
      <label class="login-label">
        Email:
        <input
          type="email"
          id="email"
          placeholder="Enter email"
          [formField]="loginForm.email"
          class="login-input"
        />
      </label>
      @if (loginForm.email().touched() && loginForm.email().invalid()) {
        <ul class="login-ul">
          @for (error of loginForm.email().errors(); track error) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>

    <div class="mb-4">
      <label class="login-label">
        Password:
        <input
          type="password"
          id="password"
          placeholder="Enter password"
          [formField]="loginForm.password"
          class="login-input"
        />
      </label>

      @if (loginForm.password().touched() && loginForm.password().invalid()) {
        <ul class="login-ul">
          @for (error of loginForm.password().errors(); track error) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <button
      type="submit"
      [disabled]="loginForm().invalid()"
      class="login-btn"
      [class]="loginForm().invalid() ? 'opacity-500 cursor-not-allowed' : 'cursor-pointer'"
    >
      Login
    </button>
  </form>
</div>
