<div class="flex justify-center items-center h-screen w-full">
  <form (submit)="onSubmit($event)" class="lg:w-1/4 w-1/2 p-4 bg-white rounded shadow-md">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold">
        Email:
        <input
          type="email"
          id="email"
          placeholder="Enter email"
          [formField]="loginForm.email"
          class="block w-full p-2 border border-gray-300 rounded mt-2"
        />
      </label>
      @if (loginForm.email().touched() && loginForm.email().invalid()) {
        <ul class="text-red-600 text-sm mt-2">
          @for (error of loginForm.email().errors(); track error) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold">
        Password:
        <input
          type="password"
          id="password"
          placeholder="Enter password"
          [formField]="loginForm.password"
          class="block w-full p-2 border border-gray-300 rounded mt-2"
        />
      </label>

      @if (loginForm.password().touched() && loginForm.password().invalid()) {
        <ul class="text-red-600 text-sm mt-2">
          @for (error of loginForm.password().errors(); track error) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <button
      type="submit"
      [disabled]="loginForm().invalid()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      [ngClass]="{
        'opacity-500 cursor-not-allowed': loginForm().invalid(),
        'cursor-pointer': !loginForm().invalid(),
      }"
    >
      Login
    </button>
  </form>
</div>
